.QuestionMark
{
    -fx-background-radius: 999 999 999 999;
    -fx-background-color: #FFFFFF;
}
.QuestionMark:hover
{
      -fx-background-color: #808080;
      -fx-background-radius: 30 30 30 30;
      -fx-text-fill: #FFFFFF;
}


